<style>
.image-with-shadow {box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);}
body {transition: background-color 0.3s, color 0.3s;}
body {
    background-color: #dde9ed; /* 淡蓝色背景 */
    transition: background-color 0.3s, color 0.3s;
    color: black; /* 文字颜色为黑色 */}
.dark-mode {background-color: black; color: white;}
.dark-mode table, .dark-mode th, .dark-mode td {border-color: black; /* 夜间模式下表格边框颜色为黑色 */}
p{text-align: center; text-indent: 20px; line-height: 0px; writing-mode: horizontal-tb; text-orientation: upright; color: rgb(0, 0, 0);}
h3{width: 300px; background-color: antiquewhite; padding: 35px 90px 45px 60px; margin: auto; border: 10px dashed; border-bottom: 20px solid;}
table {width: 100%; /* 表格宽度占满屏幕 */
    table-layout: fixed; 
    border-collapse: collapse; /* 边框合并 */}
/* 更新后的表格边框颜色样式 */
table, th, td {
    border: 1px solid #dde9ed; 
    border-width: 3px; /* 这里保持原有的边框宽度 */
    border-collapse: collapse; /* 边框合并 */
    vertical-align: bottom; /* 垂直对齐 */
}
</style>